html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding:  0;
}

.inline li {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #9CACB1;
  border-radius: 5px;
  height: 50px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff2?49yw57') format('woff2'),
        url('../fonts/icomoon.woff?49yw57') format('woff'),
        url('../fonts/icomoon.eot?49yw57#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?49yw57') format('truetype'),
        url('../fonts/icomoon.svg?49yw57#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quill:before {
  content: "\e907";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-heart:before {
  content: "\e9da";
}

.icon-bubbles2:before {
  content: "\e96d";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col6 {
  flex: 1 300px;
  min-width: 0;
  position: relative;
}


.header {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 0;
}

.wrapper {
  background-color: #796150;
}
